body {
  font-family: var(--mainfont);
}
/*start header section*/
header {
    display: flex;
    flex-wrap: wrap;
  padding: 57px 0;
}
.bar {
  display: none;
}

.list a {
  color: #0d0e43;
}
.search form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
}
.header .active {
  color: var(--primarycolor);
}
.search form input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 250px;

}
.search button {
  border: none;
  outline: none;
   background-color: var(--primarycolor);
   padding: 8px 13px;
}

@media screen and (max-width: 1200px) {
  .list,.search {
    display: none;
  }
  .bar {
    display: block;
  }
}
/* end header */
/* hero start */
.hero {
  background-color: #F2F0FF;
  padding: 40px 0;
  margin-bottom: 50px;
}
.hero-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 60%;
  
}.hero-content .hero-lamp {
  position: relative;
  bottom: 60px;
  width: 25%;
}

.hero-img{
  flex: 1 0 20%;
}
.hero-img img {
  width: 100%;
}
.hero-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 100px;
  align-items: flex-start;
}
.hero-text p {
  color: var(--primarycolor);
}
.hero-text span {
  color: #8A8FB9;
}
/*hero end */
/*start Featured Products*/

.Featured-Products {
padding: 50px 0 ;

}
.Featured-Products h2{
  margin-bottom: 46px;
  color: #1A0B5B;
  font-family: Josefin Sans;
}
.Featured-Products .row {
  justify-content: flex-start;
  gap: 30px;
}
.Featured-Products .product {
  
  flex: 1 0 300px;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;

}


.product {
  position: relative;
}


.badge-items {
  position: absolute;
  gap: 200px;
  top: 18px;
  display: none;
}
.badge-icon {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 220px;
  object-fit: contain;
}
.view-details-btn {
 
  margin-left: 115px;
  padding: 8px 13px;
}
.product .img {
 background-color: #F6F7FB; 
 padding: 30px;

}
.product .img img {
   
 width: 160px;
height: 250px;
    object-fit: contain;

}
.product-details {
  gap: 15px;
  padding: 15px;
  transition: all .6s;

}
.color {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.color-one{
background-color:#05E6B7 ;

}
.color-two {
background-color:#F701A8 ;
}
.color-three{
background-color:#00009D ;
transition: all .6s;
}

 .product-details h3 {
   color: var(--primarycolor);
   transition: all .6s;
 }
 .product-info span {
  color: #151875;
  transition: all .6s;
 }
.product-info span.code {
  transition: all .6s;
 }
 .product:hover .product-details {
  background-color: #2F1AC4;
  border-radius: 2px;
 }
 .product:hover .product-details h3 {
  color: #FFFFFF;
 }
 .product:hover .color-three {
  background-color: #FFEAC1;
 }
 .product:hover .product-info span{
color: #FFFFFF;
 }
 .product:hover .product-info span.code {
  color: #FFFFFF;
  
  font-family: Josefin Sans;
  text-align: center;
 
  
  /* Text Shadow Property */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
 }
 
 .product:hover .badge-items {
  display: block;
 }
/*Featured Products*/

/*latest section */
.Leatest-Products {
  padding: 50px 0;
}
.Leatest-Products h2{
  color: #151875;
}


.latest-content{
  display: flex;
 gap: 20px;
  padding: 19px 62px 0 0;
  margin-bottom: 62px;
  justify-content: center;
  color: #151875;
  text-align: center;
  flex-direction: column;
}
.latest-nav{
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition:all .5s;
}
.offer {
  top: 20px;
  bottom: 50px;
}
.sale-feature {
  position: relative;
}
.card img{
  background-color: #F7F7F7;
  padding: 30px 70px;
  object-fit: cover;
  width: 350px;
  height: 270px;
  flex: 1 0 300px;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
  margin-bottom: 10px;
  
 
  
}
.sale{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
font-family: Josefin Sans;


}

.old-price {
  text-decoration-line: line-through;
  color: red;
  font-size: smaller;
}
.latest-item-top {

  justify-items: flex-start;
  padding-bottom: 125px;
}

.latest-content:hover .latest-nav .link-1
{
    color:red;
    text-decoration:underline;
} 
  
/*end latest section */

/*start newsletter*/

.newsletter {
 background-image: url('../img/public/Rectangle.webp');
 background-size: cover;
  padding: 175px 0;
  
}
.newsletter h2 {
  text-align: center;
  margin-bottom: 35px;
  color:#151875 ;
  font-size:35px ;
  font-family: Josefin Sans;
 
}
.shop-btn {
  transition: all .5s;
}
.shop-btn:hover {
  background-color: #151875;
} 
/*end newsletter*/

/*start main section*/
.clients {
  padding: 90px 0;

}
.clients .row {
  flex-wrap: nowrap;
  gap: 15x;
  overflow-x: auto;
}
.clients .logo {
  width:calc( (100% - 75px) / 6 );
  
}
.clients img {
  width:100px;
  height: 100px;
  
}
@media screen and (max-width:900px) {
  .clients .logo {
    width:calc( (100% - 30px) / 3 );
  }
  
}


/*end main section*/
/* start footer*/
.footer {
  background-color: #EEEFFB;
  padding: 100px 0;
}
 .footer .row {
  gap:30px;
  align-items: flex-start;
 }

 .footer .left-side {
gap: 30px;
align-items: flex-start;
width: calc( (100%-30px) /2 );
 }

.footer .right-side{
  width: calc( (100%-30px) /2 );
}

.footer .right-side .row {
  gap: 35px;
 
}

.left-side form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
       
}
.footer-item{
  gap: 46px;
  width: calc( (100%-70px) /3 );
}
 @media screen and (max-width:992px) {
  .footer .left-side,.footer .right-side {
    width: 100%;
  }
 }
 @media screen and (max-width:576px) {
  .footer{
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
 }
.left-side form input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 250px;
 
}
  

.left-side button {
  border: none;
  outline: none;
   background-color: var(--primarycolor);
   padding: 8px 13px;
}


.address-info{
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
.footer a,.address-info,input::placeholder{
  color: #8A8FB9;
}

/* end footer */
