body {
  font-family: var(--mainfont);
}
header {
    display: flex;
    flex-wrap: wrap;
  padding: 57px 0;
}
.bar {
  display: none;
}

.list a {
  color: #0d0e43;
}
.search form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
}
.header .active {
  color: var(--primarycolor);
}
.search form input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 250px;

}
.search button {
  border: none;
  outline: none;
   background-color: var(--primarycolor);
   padding: 8px 13px;
}

@media screen and (max-width: 1200px) {
  .list,
  .search {
    display: none;
  }
  .bar {
    display: block;
  }
}
/* end header */

/* start footer*/
.footer {
  background-color: #EEEFFB;
  padding: 100px 0;
}
 .footer .row {
  gap:30px;
  align-items: flex-start;
 }

 .footer .left-side {
gap: 30px;
align-items: flex-start;
width: calc( (100%-30px) /2 );
 }

.footer .right-side{
  width: calc( (100%-30px) /2 );
}

.footer .right-side .row {
  gap: 35px;
 
}

.left-side form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
       
}
.footer-item{
  gap: 46px;
  width: calc( (100%-70px) /3 );
}
 @media screen and (max-width=992px) {
  .footer .left-side,.footer .right-side {
    width: 100%;
  }
 }
 @media screen and (max-width=576px) {
  .footer{
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
 }
.left-side form input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 250px;
 
}
  

.left-side button {
  border: none;
  outline: none;
   background-color: var(--primarycolor);
   padding: 8px 13px;
}


.address-info{
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
.footer a,.address-info,input::placeholder{
  color: #8A8FB9;
}

/* end footer */
